<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.ContactMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.Contact" >
    <constructor >
      <idArg column="contact_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shop_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contact_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact_position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact_email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contact_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    contact_id, shop_id, contact_name, contact_position, contact_email, contact_phone, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from truck_shop_contact
    where contact_id = #{contactId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from truck_shop_contact
    where contact_id = #{contactId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.Contact" >
    insert into truck_shop_contact (contact_id, shop_id, contact_name, 
      contact_position, contact_email, contact_phone, 
      create_time, update_time)
    values (#{contactId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR}, 
      #{contactPosition,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.Contact" useGeneratedKeys="true" keyProperty="contactId" >
    insert into truck_shop_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        contact_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactPosition != null" >
        contact_position,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contactId != null" >
        #{contactId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPosition != null" >
        #{contactPosition,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
       now(),
       now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.Contact" >
    update truck_shop_contact
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPosition != null" >
        contact_position = #{contactPosition,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
        update_time = now(),
    </set>
    where contact_id = #{contactId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.Contact" >
    update truck_shop_contact
    set shop_id = #{shopId,jdbcType=INTEGER},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_position = #{contactPosition,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where contact_id = #{contactId,jdbcType=INTEGER}
  </update>
  <select id="selectByShopId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from truck_shop_contact
    where shop_id = #{shopId}
  </select>
</mapper>